# Виртуальное окружение Python
venv/
env/
.venv/
.env/
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Файлы проекта
*.xml
*.xlsx
*.xls
processed_images/
avito_images/
google_cred.json


# Системные файлы
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~

# Логи
*.log

